.border-bottom td {
    border-bottom: 1px solid black;
}

table {
    width: 100%
}

.m-t-b-100 {
    margin: 100px 0;
}

.grey {
    background-color: lightgrey;
}

.total {
    float: right;
    width: 50%;
    margin-top: 100px;
}

.b-grey {
    border: 2px solid darkgrey;
}

.align-left {
    text-align: left;
}

.title-container {
    width: 100%;
    height: 150px;
    position: relative
}

.title-container div {
    position: absolute;
    width: 50%
}