{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}Statistics{% endblock %}
{% block main %}
    <form method="post">
        <input type="date" name="start" class="form-control table-input" data-field="start" value="{{ start|date('Y-m-d') }}">
        <input type="date" name="end" class="form-control table-input" data-field="end" value="{{ end|date('Y-m-d') }}">
        <input type="submit">
    </form>
    <div class="d-flex justify-content-center row align-items-center">
        <div id="pieSum" style="width: 500px; height: 400px;"></div>
        <div id="pieIncome" style="width: 500px; height: 400px;"></div>
    </div>
{% endblock %}
{% block body_javascript %}
    <script src="https://www.google.com/jsapi"></script>
{% endblock body_javascript %}
        {% block body_custom_javascript %}
            {{ parent() }}
            <script>
                google.load("visualization", "1", {packages:["corechart"]});
                google.setOnLoadCallback(drawChart);
                function drawChart() {
                    var dataPieSum = google.visualization.arrayToDataTable([
                        ['Marketplace', 'tax'],
                        {% for marketPlace,sum in marketPlaceSum %}
                        ['{{ marketPlace }}', {{ sum|number_format(2, '.', '') }}],
                        {% endfor %}
                    ]);
                    var optionsPieSum = {
                        title: 'Marketplace cost (total: {{ sumCost }})',
                        is3D: true,
                        pieResidueSliceLabel: 'rest'
                    };
                    var chartSum = new google.visualization.PieChart(document.getElementById('pieSum'));
                    chartSum.draw(dataPieSum, optionsPieSum);

                    var dataPieIncome = google.visualization.arrayToDataTable([
                        ['Marketplace', 'income'],
                        {% for marketPlace,inc in income %}
                        ['{{ marketPlace }}', {{ -inc|number_format(2, '.', '') }}],
                        {% endfor %}
                    ]);
                    var optionsPieIncome = {
                        title: 'Marketplace income (total: {{ incomeSum }})',
                        is3D: true,
                        pieResidueSliceLabel: 'rest'
                    };
                    var chartIncome = new google.visualization.PieChart(document.getElementById('pieIncome'));
                    chartIncome.draw(dataPieIncome, optionsPieIncome);
                }
            </script>
        {% endblock %}
