{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}Statistics{% endblock %}
{% block main %}
    <form method="post">
        <input type="date" name="start" class="form-control table-input" data-field="start" value="{{ start|date('Y-m-d') }}">
        <input type="date" name="end" class="form-control table-input" data-field="end" value="{{ end|date('Y-m-d') }}">
        <input type="submit">
    </form>
    <table class="table datagrid">
        <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Tax</th>
            <th scope="col">Income</th>
            <th scope="col">Customer Paid</th>
            <th scope="col">MarketPlace Cost</th>
        </tr>
        <tbody>
        <tr>
            <td> Sum</td>
            <td>{{ taxSum }}</td>
            <td>{{ incomeSum }}</td>
            <td>{{ customerPaidSum }}</td>
            <td>{{ marketPlaceCostSum }}</td>
        </tr>
        {% for key, tax in taxes %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ tax }}</td>
                <td>{{ income[key] }}</td>
                <td>{{ customerPaid[key] }}</td>
                <td>{{ marketPlaceCost[key] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
