{% extends '@!EasyAdmin/default/list.html.twig' %}
{% block global_actions %}
    {{ parent() }}
    <style>
        th {
            text-align: center !important;
            /*border: var(--border-width) var(--border-style) var(--border-color);;*/
        }

        th span {
            text-align: center !important;
        }

        td {
            max-width: 90px;
            overflow: hidden;
            text-align: center !important;
            /*border: var(--border-width) var(--border-style) var(--border-color);;*/
        }

        td.decimal {
            max-width: 40px !important;
            width: 35px;
        }

        tr.bg-success:hover td {
            background-color: #1ea471 !important;
        }

        tr.bg-light-success td {
            background-color: #1ac930;
        }

        tr.bg-light-success:hover td {
            background-color: #1ac930 !important;
        }
    </style>
{% endblock %}
{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/functions/ajax.js') }}"></script>
    <script type="text/javascript">
        let carriers;

        const getCarriersAndStates = (() => {

            window.onload = function () {

                ajax('GET', null, "{{ path("get_carriers") }}", null, data => {
                    carriers = JSON.parse(data);
                    getCarriers();
                });

                ajax('GET', null, "{{ path("get_states") }}", null, data => {
                    states = JSON.parse(data);
                    getAllStates()
                })

                {# ajax('GET', null, "{{ path("run_cron_test1") }}", null, data => { #}
                {# let order_product_ids = JSON.parse(data); #}
                {# console.log(order_product_ids); #}
                {# order_product_ids.forEach((id) => { #}
                {# let row = document.getElementById("order_product_" + id); #}
                {# row.classList.add("bg-light-success"); #}
                {# }) #}
                {# }) #}
            };
        })();

        let states;

        const getAllStates = () => {
            const order_states_select = document.querySelectorAll('.order_states_select');
            order_states_select.forEach(item => {
                for (let stateInd in states) {
                    let selected = states[stateInd].id == item.dataset.currentstate ? 'selected' : '';
                    let html = `<option style="background-color: ${states[stateInd].color}" value="${states[stateInd].id}" ${selected}> ${states[stateInd].name}</option>`;
                    item.innerHTML += html;
                }
                item.addEventListener('change', (e) => {
                    ajax('GET', null, `updateOrderState/${item.dataset.order}/${e.target.value}`, null, data => {
                        item.setAttribute('style', 'background-color:' + data);
                    });
                });
            });
        };

        const getCarriers = () => {
            let selects = document.querySelectorAll('.carrier_select');
            [...selects].forEach((select) => {
                for (let carrierIND in carriers) {
                    console.log(select.dataset.value);
                    let selected = carriers[carrierIND].id == select.dataset.value ? 'selected' : '';
                    let html = '<option value="' + carriers[carrierIND].id + '" ' + selected + ' >' + carriers[carrierIND].name + '</option>';
                    select.innerHTML += html;
                }
                select.addEventListener('change', (event) => {
                    ajax('GET', null, 'updateOrderCarrier/' + event.target.dataset.order_id + '/' + event.target.value, null, data => console.log('Success'));
                });
            });
        };

        document.querySelectorAll(".imei-form").forEach(form=>{
            form.addEventListener("submit", event=>{
                event.preventDefault();
                let id = event.target.dataset.id;
                // const formData = new FormData(event.target)
                let input = event.target.querySelector("input");
                let imei=[];
                imei[input.name]=input.value;
                console.log(imei);
                ajax('POST', null, 'setIMEIs/' + id, {imei:imei}, data =>{
                    if(data!=="Success")
                        alert(data);
                    console.log(data)
                } );
            })
        })

        const moveProductTableToDown = (() => {
            let virtual = document.querySelector('.virtual.order_products');
            console.log(virtual);
            if (virtual) virtual.remove();

            document.querySelectorAll('.orderInPrp').forEach(async item => {
                const row = item.parentElement.parentElement;
                let td = item.parentElement;
                // console.log(td);
                const childRows = [...item.getElementsByTagName('TR')];
                childRows[childRows.length - 1].style.border = '2px solid black;';
                await childRows.reverse().forEach(tr => {
                    row.after(tr);
                })
                await td.remove()
            });
        })();

        const changeOrderWeight = (() => {
            document.querySelectorAll('.order_weight_input').forEach(item => {
                item.addEventListener('change', e => {
                    const id = e.target.dataset.id;
                    const value = e.target.value;
                    ajax('GET', null, '/admin/updateOrderWeight/' + id + '/' + value, null, res => console.log('Success'));
                });
            });
        })();

    </script>

{% endblock %}