<table class="orderInPrp">
    <tr>
        <th colspan="3">Name</th>
        <th colspan="2">Reference</th>
        <th>tax incl</th>
        <th>tax excl</th>
        <th>quantity</th>
        <th colspan="4">EMEi</th>
    </tr>
    {% set ind =0 %}
    {% for orderProduct in item.getOrderProducts %}
        {% set ind=ind + 1 %}
        {% set valid = false %}

        {% for i in 0..orderProduct.productQuantity-1 %}

            <tr id="order_product_{{ orderProduct.id }}" class="dropdown"
                    {% if(ind == item.getOrderProducts|length) %}
                        style="border-bottom: 2px solid black;"
                    {% endif %}
            >
                <td colspan="3" style="text-overflow: ellipsis;
                              overflow: hidden;
                              max-width: 360px;
                              white-space: nowrap;
                        ">
                    {{ orderProduct.product.name }}
                </td>
                <td colspan="2">{{ orderProduct.product.getReference }}</td>
                <td>{{ orderProduct.getUnitPriceTaxIncl|number_format(2) }}</td>
                <td>{{ orderProduct.getUnitPriceTaxExcl|number_format(2) }}</td>
                <td>1</td>
                <td colspan="4">
                    <form class="imei-form" data-id="{{ orderProduct.id }}">
                        <input class="form-control mt-2" name="{{ i }}"
                               value="{{ orderProduct.getPhoneSupplies[i] is defined ?orderProduct.getPhoneSupplies[i].getImei:'' }}" type="text">
                    </form>
                </td>
            </tr>
        {% endfor %}

    {% endfor %}
</table>
