<select style="background-color: {{ item.orderState.color }}"
        class="order_states_select text-white form-control-sm mw-100"
        id="order_states_{{ item.id }}"
        data-order="{{ item.id }}"
        data-currentState="{{ item.orderState.id }}">
</select>
