{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}Order Imei{% endblock %}

{% block main %}
    <button id="submit" class="btn btn-success">Save</button>
    <form id="order_imei_form" >
        <div class="form-row">
            <div class="form-group col">
                <label for="orderRef">Order reference</label>
                <input type="text" required="required" class="form-control" id="orderRef" placeholder="">
            </div>
            <div class="form-group col">
                <label for="imeis">Imei</label>
                <input type="text" required="required" class="form-control" id="imeis">
            </div>
        </div>
        <button type="submit" class="btn btn-success d-none">Save</button>
    </form>
    <table id="results_table">

    </table>
    <script src="{{ asset('assets/js/functions/ajax.js') }}"></script>
    <script>
        const table = document.getElementById("results_table");
        document.getElementById("order_imei_form").addEventListener("submit",event=>{
            event.preventDefault()
            let orderRef = document.getElementById("orderRef");
            let imei = document.getElementById("imeis");
            let tr = document.createElement("TR");
            let tdRef = document.createElement("TD")
            let tdImei = document.createElement("TD")
            let inputRef = document.createElement("INPUT")
            inputRef.setAttribute("name", "ref");
            inputRef.classList.add("form-control")
            inputRef.value = orderRef.value;
            let inputImei = document.createElement("INPUT")
            inputImei.setAttribute("name", "imei");
            inputImei.classList.add("form-control")
            inputImei.value = imei.value;
            tdRef.appendChild(inputRef);
            tdImei.appendChild(inputImei);
            tr.appendChild(tdRef);
            tr.appendChild(tdImei);
            table.appendChild(tr)
            orderRef.value="";
            imei.value="";
            orderRef.focus();
        })
        document.getElementById("submit").addEventListener("click",event=>{
            let imeiInput = document.getElementsByName("imei");
            let refImei = [...document.getElementsByName("ref")].map((input,ind)=>{
                return {"ref":input.value,"imei":imeiInput[ind].value};
            });
            refImei=JSON.stringify(refImei)
            ajax('POST', null, 'setOrdersIMEI', {refImei:refImei}, (data,status) =>{
                if(status!==200)
                    alert(data);
                else{
                   table.innerHTML="";
                }
                console.log(data)
            } );
        })
    </script>
{% endblock %}