{% extends '@EasyAdmin/default/layout.html.twig' %}
{% form_theme form_supply 'bootstrap_4_layout.html.twig' %}

{% block content_title %}Phone supplies{% endblock %}

{% block main %}
    <table class="table datagrid">
        <thead>
        <tr>
            <th scope="col">
                <span>#</span>
            </th>
            <th scope="col">
                <span>Name</span>
            </th>
            <th scope="col">
                <span>IMEI</span>
            </th>
            <th scope="col">
                <span>Invoice #</span>
            </th>
            <th scope="col">
                <span>Supplier</span>
            </th>
            <th scope="col">
                <span>Price</span>
            </th>
            <th scope="col">
                <span>Date delivery</span>
            </th>
            <th scope="col">
                <span>Date invoice</span>
            </th>
            <th scope="col">
                <span>Tax</span>
            </th>
            <th scope="col"><span>Actions</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {{ form_start(form_supply, {'attr':{'id':'form_supply'}}) }}
            <td>new supply</td>
            <td>{{ form_widget(form_supply.name, {'attr':{'list':'product_names'}}) }}</td>
            <td>{{ form_widget(form_supply.imei) }}</td>
            <td>{{ form_widget(form_supply.invoice_num) }}</td>
            <td>{{ form_widget(form_supply.supplier) }}</td>
            <td>{{ form_widget(form_supply.price) }}</td>
            <td>{{ form_widget(form_supply.date_delivery) }}</td>
            <td>{{ form_widget(form_supply.date_invoice) }}</td>
            <td>{{ form_widget(form_supply.tax) }}</td>
            <td>
                {{ form_widget(form_supply.count) }}
                {{ form_widget(form_supply.save) }}
            </td>

            {{ form_end(form_supply) }}
        </tr>
        {% set product_names = []  %}
        {% for phone_supply in phone_supplies %}
            {% set name_option = '<option value="'~phone_supply.name~'"></option>' %}
            {% set product_names = product_names|merge([name_option]) %}
            <tr>
                <td>
                    <span>{{ phone_supply.id }}</span>
                </td>
                <td><input type="text" list="product_names" class="form-control table-input" data-field="name" data-id="{{ phone_supply.id }}" value="{{ phone_supply.name }}"></td>
                <td><input type="text" class="form-control table-input" data-field="imei" data-id="{{ phone_supply.id }}" value="{{ phone_supply.imei }}"></td>
                <td><input type="text" class="form-control table-input" data-field="invoiceNum" data-id="{{ phone_supply.id }}" value="{{ phone_supply.invoiceNum }}"></td>
                <td>
                    <select class="form-control table-input" data-field="supplier" data-id="{{ phone_supply.id }}">
                        {% for supplier in suppliers %}
                        <option value="{{ supplier.id }}" {% if phone_supply.supplier.id==supplier.id %}selected{% endif %}>{{ supplier.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input type="number" step="0.1" min="0" class="form-control table-input" data-field="price" data-id="{{ phone_supply.id }}" value="{{ phone_supply.price }}"></td>
                <td><input type="date" class="form-control table-input" data-field="dateDelivery" data-id="{{ phone_supply.id }}" value="{{ phone_supply.dateDelivery|date('Y-d-m') }}"></td>
                <td><input type="date" class="form-control table-input" data-field="dateInvoice" data-id="{{ phone_supply.id }}" value="{{ phone_supply.dateInvoice|date('Y-d-m') }}"></td>
                <td>
                    <select class="form-control table-input" data-field="tax" data-id="{{ phone_supply.id }}">
                        {% for tax in taxes %}
                            <option value="{{ tax.id }}" {% if phone_supply.tax==tax %}selected{% endif %}>{{ tax.name }}({{ tax.percent }})</option>
                        {% endfor %}
                    </select>
                </td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <datalist id="product_names">{{ product_names|join("\n")|raw }}</datalist>
    <script>
        document.querySelectorAll(".table-input").forEach(input=>{
            input.addEventListener("change", event =>{
                submitValue(event.target.dataset.id,event.target.dataset.field,event.target.value)
            })
        })

        let timeout = null;

        function submitValue(id, field, value) {
            clearTimeout(timeout);
            timeout = setTimeout(() => {
                ajax('post', null, `/phone_supply/save_value/${id}/${field}`, {
                    value: value
                }, res => {
                    //do smth
                });
            }, 300)
        }


        function ajax(method, headers, url, params, callback) {
            const xmlhttp = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP')
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState === 4) {
                    callback(xmlhttp.responseText, xmlhttp.status, url)
                }
            };
            xmlhttp.open(method, url, true);
            for (let key in headers) {
                xmlhttp.setRequestHeader(key, headers[key]);
            }
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

            let body = '';
            for (let key in params) {
                body += key + '=' + params[key] + '&';
            }
            xmlhttp.send(body)
        }
    </script>
{% endblock %}